/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Image Styling */
.styled-image {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Table Styling */
.styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.styled-table th, .styled-table td {
    padding: 12px;
    text-align: left;
}

.styled-table th {
    background-color: #0056b3;
    color: white;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

/* Form Styling */
.form-container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], select {
    width: calc(100% - 20px);
    padding: 10px;
}

.gender-container span {
    display: block;
}

/* Button Styling */
button[type='submit'] {
    background-color: #0056b3;
}
button:hover{
color:white;}
